body {
  background-color: black;
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  .movie-container {
    margin-left: 210px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
  }
}


.movie-card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-details {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-year {
  font-size: 14px;
  font-weight: bold;
}

.like-button,
.watch-later-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

/* Media Queries for Responsive Layout */
@media screen and (max-width: 768px) {
  .movie-card {
    width: 100%;
    width: 300px;
    margin: 10px;
    padding: 10px;
    margin-left: 39px;
  }
}


.search-box {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-box input {
  padding: 10px;
  width: 260px; /* Adjust the width as per your preference */
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 16px;
}



.top-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fav-button,
.later-button {
  margin: 10px;
}



.top-button button {
  background-color: white;
  color: black;
  border: 1px solid grey;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 25px;
}

.top-button button:hover {
  background-color: grey;
  color: white;
}


.like-button,
.watch-later-button {
  border: 2px solid grey;
  background-color: black;
  color: white;
  border-radius: 25px;
}
