.carousel-container {
  max-width: 88%;
  overflow: hidden;
  height: 400px;
  border-radius: 35px;
}

@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
    border-radius: 0;
  }
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
}

.carousel-item {
  flex-shrink: 0;
  width: 200px; /* Adjust the width to make it smaller */
  height: 280px; /* Adjust the height to make it smaller */
  border-radius: 20px; /* Adjust the border radius to make it smaller */
  scroll-snap-align: start;
  object-fit: cover;
  margin-right: 10px;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.carousel-control-left,
.carousel-control-right {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

.carousel-control-left {
  margin-right: 10px;
}

.carousel-control-right {
  margin-left: 10px;
}

.carousel::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.carousel::-webkit-scrollbar-track {
  background-color: transparent;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
