.carousel-container {

    max-width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding: 10px;
  }
  
  .carousel-item {
    flex-shrink: 0;
    width: 200px;
    height: 300px;
    scroll-snap-align: start;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
  
  .carousel-control-left,
  .carousel-control-right {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .carousel-control-left {
    margin-right: 10px;
  }
  
  .carousel-control-right {
    margin-left: 10px;
  }
  
  .carousel::-webkit-scrollbar {
    width: 8px;
  }
  
  .carousel::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .carousel::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  .carousel::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  